<h1>Renter Insight</h1>

<p>Dear <%=@resident.first_name %>,</p>

<p>You have a new message <%="from " + @communication.from.name if @communication.from.present? %>:</p>

<p><strong><%=raw(@communication.body.gsub("\n", "<br>")) %></strong></p>

<p>You can respond to this email, or reply in the <a href="<%=SystemMailer.base_url %>/portal/communications/inbox/<%=@communication.related_object.hash_id %>#comment-<%=@communication.hash_id %>">Renter Insight Portal</a></p>

<%=render partial: 'signature', locals: {company: @communication.company, property: @communication.property} %>
