<%
  global_settings = Setting.global
%>
<h1 style="text-align: center">Payment Processing Agreement</h1>
<h2 style="text-align: center">(&quot;Agreement&quot;)</h2>

I, the undersigned, the authorized representative of the Client identified below (the &ldquo;Client&rdquo;), in consideration of the services described hereunder, hereby appoint and authorize Renter Insight, LLC (&ldquo;Renter Insight&rdquo;) to act as my representative to provide payment services and facilitate payments from my residents or other payers (each a &ldquo;Payer&rdquo;) who initiate payment transactions through Renter Insight under the terms and conditions set forth below.

<ol>
  <li>
    <u>General Authorization</u>. I hereby:
    <ol type="a">
      <li>authorize Renter Insight to collect payments from all payers who register for the Renter Insight service.</li>
      <li>authorize Renter Insight to credit such payments to my account(s) provided to Renter Insight, less any transaction fees, on a monthly basis.</li>
      <li>acknowledge that Renter Insight utilizes a partner, PayLease LLC (dba Zego), in the fulfillment of the Renter Insight services, including receiving and settling payments to me.</li>
      <li>authorize PayLease, LLC (DBA Zego), (&ldquo;Renter Insight Agent&rdquo;) to act as my limited agent for the purpose of receiving, holding, facilitating, and settling payments made by Payers to me. Renter Insight Agent will settle to me payments that are received by Renter Insight Agent less any fees or other obligations owed to Renter Insight Agent. I agree that a payment received by Renter Insight Agent, on my behalf, satisfies the Payer&rsquo;s obligations to make the applicable payment to me, regardless of whether Renter Insight Agent actually settles such payment to me, and accordingly, such payment obligation is considered satisfied and extinguished upon receipt. Subject to applicable laws, government regulations and card association rules, in the event Renter Insight Agent does not make any such payment to me as described in these Terms, I will have recourse against Renter Insight Agent and not Payer, as such payment is deemed made by Payer to me upon receipt by Renter Insight Agent.</li>
      <li>authorize Renter Insight Agent to create a Merchant ID account for the Client to process VISA, MasterCard, Discover and American Express payments (an executed American Express Addendum as applicable, is required and made a part of this Agreement).</li>
      <li>authorize Renter Insight Agent to manage and collect VISA, MasterCard, Discover and American Express credit card payments through the Merchant ID for the Client. All payments will be credited to the Client&rsquo;s existing bank account (s) on file with Renter Insight, less any transaction fees associated with such payment. Transactions processed via this Merchant ID will be exclusively on behalf of the Client.</li>
      <li>I will make the Renter Insight Agent Terms of Use found at https://www.gozego.com/terms-of-use/ and the Renter Insight Agent Privacy Policy found at <a href="https://www.gozego.com/corp/privacy-policy/">https://www.gozego.com/corp/privacy-policy/</a> available to all Payers.</li>
      <li>I understand that this agreement is subject to the Client passing a standard due diligence review.</li>
    </ol>
  </li>
  <li>
    <u>Representations and Warranties by Representative.</u> The Representative hereby warrants and represents to Renter Insight as follows:
    <ol type="a">
      <li><u>Representation of Client.</u> I represent the Client and all properties owned or managed by the Client.</li>
      <li><u>Authority to Bind Client.</u> I have full authority to enter into this Agreement and legally bind Client to this Agreement.</li>
      <li><u>Consents and Approvals.</u> All consents and approvals necessary for the Client to enter into this Agreement have been obtained or waived.</li>
    </ol>
  </li>
  <li>
    <u>Returns and Chargebacks.</u> In the event that a credit issued by Renter Insight or Renter Insight Agent on behalf of one of the Client&rsquo;s Payers is returned by the account holder&rsquo;s bank or credit card company for any reason, including, fraudulent activity, insufficient funds, chargeback dispute, or any returned item, the credit for the returned item issued will be reversed from the original deposit account by the account holder&rsquo;s bank or credit card company. In this event, sufficient funds shall be available for reversal, and the Client shall be liable to the extent that such funds are not available. If Renter Insight or Renter Insight Agent is required to pursue any action for liability for such reversals or for the non-payment of any Client fees, Client agrees to pay all costs (including collection costs, court fees and attorneys&rsquo; fees) to secure payment of such funds. In the event that a credit issued by Renter Insight Agent is returned or reversed by the account holder&rsquo;s bank for insufficient funds, Renter Insight Agent will also debit the account holder&rsquo;s bank account a fee in an amount which is pursuant to applicable law. This fee is fully disclosed to the Payer through the Renter Insight Agent Terms of Use, referred to herein at item 1.g. above.
  </li>
  <li>
    <u>Term and Termination of Agreement.</u> The initial term of this Agreement begins on the date set forth below and will continue for a period of one (1) year (the &ldquo;Initial Term&rdquo;).  Thereafter the Agreement will automatically renew for additional one (1) year periods, unless Client or Renter Insight Agent provides notice of non-renewal at least sixty (60) days prior to the renewal date (the &ldquo;Renewal Term(s)&rdquo;) (the Initial Term and any Renewal Term(s), collectively referred to as the &ldquo;Term&rdquo;).  Notwithstanding the above, this Agreement will terminate upon the termination or expiration of Client&rsquo;s services agreement with Renter Insight.
    <br><br>
    <div style="height:10px"></div>
    Either Client or Renter Insight Agent may terminate this Agreement: 1) upon a material breach of the Agreement that is uncured within sixty (60) days of receiving written notice from the non-breaching party of such material breach; and/or 2) immediately upon (a) the institution by or against the other party of insolvency, receivership or bankruptcy proceedings or any other proceeding for the settlement of the other party&rsquo;s debts, (b) upon the other party making an assignment for the benefit of creditors; or (c) upon the other party&rsquo;s dissolution or ceasing to do business (collectively, a &ldquo;Termination for Cause&rdquo;). Renter Insight may also terminate this Agreement immediately if Renter Insight has a reasonable belief of fraud associated with the services provided by this Agreement, or for any breach by the Client of the terms of this Agreement. Additionally, Renter Insight Agent may suspend the provision of the payments services and/or terminate this Agreement if Renter Insight Agent, in its reasonable sole discretion, determines that: a) providing the payment services poses a security or integrity risk to Client, other customers, or to Renter Insight Agent; or b) there has been, or may be, a security breach, fraud, misrepresentation, and/or a violation of a Law, rule, or regulation in connection with the payment services.  In the event a chargeback or returned item processes to the Client after the termination date, sufficient funds shall be available for reversal, and the Client shall be liable to Renter Insight Agent the extent that such funds are not available.
  </li>
  <li>
    <u>ACH Transactions.</u> The origination of Automated Clearing House (&ldquo;ACH&rdquo;) transactions to Client&rsquo;s Account must comply with all applicable state and federal laws and the NACHA Operating Rules.
  </li>
  <li>
    <u>Fees.</u> Client and/or Client&rsquo;s Payers will be responsible for payment of the fees listed in the chart below. Such fees are determined by Renter Insight.  All payments will be credited to Client&rsquo;s existing bank account(s) designated by Client less any fees payable to Renter Insight Pay Agent (pursuant to Renter Insight Pay Agent&rsquo;s agreement with Renter Insight) and/or Renter Insight. Transactions processed through this Merchant ID will be exclusively for Client.
  </li>
</ol>

<strong>Cash Pay Fees:</strong> Incurred by Payer: <%= number_to_currency(global_settings.payment_fee_cash_resident) %><br>
<strong>ACH Transaction Fees:</strong> <%=@company.default_resident_responsible_fee_ach ? "Incurred by Payer: #{number_to_currency(global_settings.payment_fee_ach_resident)}" : "Incurred by Client: #{number_to_currency(global_settings.payment_fee_ach_property)}" %><br>
<strong>Credit Card Transaction Fees:</strong> <%=@company.default_resident_responsible_fee_credit_card ? "Incurred by Payer: #{number_with_precision(global_settings.payment_fee_credit_card_resident, precision: 2)}% + #{number_to_currency(global_settings.payment_fee_ach_resident)}" : "Incurred by Client: #{number_with_precision(global_settings.payment_fee_credit_card_property, precision: 2)}% + #{number_to_currency(global_settings.payment_fee_ach_resident)}" %><br>
<strong>Debit Card Transaction Fees:</strong> <%=@company.default_resident_responsible_fee_debit_card ? "Incurred by Payer: #{number_to_currency(global_settings.payment_fee_debit_card_resident)}" : "Incurred by Client: #{number_to_currency(global_settings.payment_fee_debit_card_property)}" %><br>

<strong>Client's Preferred 1099-K Reporting:</strong> <%=@company.consolidated_1099 ? "One consolidated 1099-K reported to Client's legal name and tax ID" : "Individual 1099-Ks reported per bank account owner. A completed W-9 is required for each entity" %><br>

<br>

<h2>Client</h2>

<table width="100%">
  <tr>
    <td valign="top">
      <strong>Company:</strong><br>
      <%=@company.legal_business_name %><br>
      <%= "DBA: #{@company.legal_business_dba}<br>".html_safe if !@company.legal_business_dba.blank? %>
      <br>
      <strong>Tax ID:</strong>
      <% if @company_taxpayer_info.tax_classification == "sole" %>
        <%=@company.company_taxpayer_info.ssn %><br>
      <% else %>
        <%=@company.company_taxpayer_info.ein %><br>
      <% end %>
      <br>
      <strong>Address:</strong><br>
      <%=@company.street %><br>
      <%=@company.street_2 + "<br>".html_safe if !@company.street_2.blank? %>
      <%=@company.city %> <%=@company.state %>, <%=@company.zip %><br>
      <br>
      <strong>Year Formed:</strong> <%=@company.year_formed %><br>
      <strong>Units Managed:</strong> <%=@company.units_managed %><br>
    </td>
    <td valign="top">
      <strong>Primary Contact:</strong><br/>
      <%=@company.primary_contact_first_name %> <%=@company.primary_contact_last_name %><br>
      <%=@company.primary_contact_title %><br>
      <%=@company.primary_contact_phone %><br>
      <%=@company.primary_contact_email %><br>

      <% if !@company.secondary_contact_first_name.blank? %>
        <br/>
        <strong>Know-Your-Customer Contact:</strong><br/>
        <%=@company.secondary_contact_first_name %> <%=@company.secondary_contact_last_name %><br>
        <%=@company.secondary_contact_title %><br>
        <%=@company.secondary_contact_phone %><br>
        <%=@company.secondary_contact_email %><br>
      <% end %>
    </td>
  </tr>
  <tr>
    <td valign="top">
      <br/><br/>
      <strong>Signed By:</strong> <%=@company.payments_agreement_signature %><br/>
      <strong>Date:</strong> <%=@company.payments_agreement_at.strftime('%m/%d/%Y') if @company.payments_agreement_at.present? %><br/>
      <strong>IP:</strong> <%=@company.payments_agreement_ip_address %><br/>
    </td>
  </tr>
</table>
